# Muhammad Murtaza 19B-105-SE

Pracrice problem 2.1

In [5]:
n = 5
sum_num = (n * (n + 1)) / 2
print(sum_num)

15.0

In [15]:
def Average(lst): 
    return sum(lst) / len(lst)
lst = [23, 19, 21] 
average = Average(lst)
print("Average of the list =",round(average, 2))

Average of the list = 21.0

In [18]:
#number of times:
ans= 403 // 73
print(ans)

5

In [19]:
#Remainder
a= 403 % 73
print(a)

38

In [20]:
#power
x = 2**10
print(x)

1024

In [22]:
#Difference
Differenceofheights= 54 - 57
print (abs(Differenceofheights))

3

In [25]:
#lowest price
x=min('34.99', '29.95', '31.50')
print (x)

29.95

Practice problem 2.2

In [26]:
#sum of 2+2 is less than 4
2+2<4

False

In [30]:
#Boolean
7 // 4== 1+1

False

In [31]:
#Sum and squared
3 ** 2 + 4 ** 2 == 25

True

In [33]:
#sum is greater
2+4+6 > 12

False

In [35]:
#Divisblilty
1387 % 19 == 0

True

In [36]:
#even number
31 % 2 == 0

False

In [37]:
x = min(34.99, 29.95, 31.50)
y = 30.00
x<y

True

Problem 2.3

In [38]:
#Assign variable
a=3
a

3

In [39]:
#Assign variable
b=4
b

4

In [40]:
#Assign C
c= a * a + b * b
c

25

Problem 2.4

In [15]:
s1= 'ant'
s2= 'bat'
s3= 'cod'

print(s1+" "+s2+" "+s3)
print(10*(s1+" "))
print(s1+" "+2*(s2+" ")+3*(s3+" "))
print(7*(s1+" "+s2+" "))
print(5*(2*s2+s3+" "))

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

Program 2.5

In [10]:
#Indexing
s = '0123456789'
print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[-1])

0
1
6
8
9

Problem 2.6

In [19]:
words = ['bat','ball','barn','basket','badminton']
print(words[0])
print(words[-1])

bat
badminton

Problem 2.7

In [1]:
grades=[9,7,7,10,3,9,6,6,2]
grades.count(7)

2

In [5]:
#b
grades[-1]=4
grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [3]:
#c
max(grades)

10

In [4]:
#d
grades.sort
grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [7]:
#e
sum(grades)/len(grades)

6.777777777777778

Problem 2.8

In [9]:
#a
a=4
((2+3)==4) or (a >=5)

False

In [10]:
#b
lst=[1,2,4,5]
((lst[1]*-3)< -10 ==0)

False

In [14]:
#c
(((lst[1]*(-3)) <-10)) in [0,True]

True

In [15]:
#d
2*(3**2)

18

In [17]:
#e
(4/2) in [1,2,3]

True

Problem 2.9

In [19]:
#a
False+False

0

In [20]:
#b
x= 2* (3**2.0)
type(x)

float

In [21]:
#c
y= (4//2) + (4%2)
type(y)

int

In [4]:
#d
z = ((2+3)==4) or (5>=5)
type(z)

bool

Problem 2.10

In [9]:
#a
import math
a=eval(input("base:"))
b=eval(input("height:"))
c=math.sqrt(a**2 + b**2)
print("Hypotenuse is:",c)

base:5
height:4
Hypotenuse is: 6.4031242374328485

In [10]:
#b
c==5

False

In [12]:
#c
import math
a=eval(input("radius:"))
area=math.pi * a**2
print("Area of a disk:",area)

radius:5
Area of a disk: 78.53981633974483

In [2]:
#d
x=eval(input("x-point:"))
y=eval(input("y-point:"))
r=eval(input("value of radius:"))
a=eval(input("distance of a:"))
b=eval(input("distance of b:"))

if (x-a)**2 + (y-b) < r**2:
    print("hit")
else:
    print("miss")

x-point:4
y-point:5
value of radius:16
distance of a:2
distance of b:1
hit

# Exercises:-

2.11

In [12]:
#a
def sumNegative(list):
    m = 0
    for x in list:
        if x < 0:
            m+=x
    return(int(m))

a = [-7,-6,-5,-4,-3,-2,-1,0]
print (sumNegativeInts(a))

-28

In [2]:
#b
ages=[(17*9),(24*10),(21*11),(27*12)]
total=17 + 24 + 21 + 27
avg=sum(ages)/total
print(int(avg))

10

In [3]:
#c
2**-20

9.5367431640625e-07

In [6]:
#d
4365%61

34

In [7]:
#e
4365//61

71

2.12

In [9]:
s1='_'
s2='+'
s1+s2

'_+'

In [11]:
s1+s2+s1

'_+_'

In [12]:
s2+s1+s1

'+__'

In [13]:
s2+2*s1+s2+2*s1

'+__+__'

In [14]:
10*(s2+2*s1)

'+__+__+__+__+__+__+__+__+__+__'

In [15]:
5*(s2+s1+3*s2+2*s1)

'+_+++__+_+++__+_+++__+_+++__+_+++__'

2.13

In [20]:
a= 'abcdefghijklmnopqrstuvwxyz'
print(a[0])
print(a[2])
print(a[25])
print(a[24])
print(a[16])

a
c
z
y
q

2.14

In [24]:
s='goodbye'
s[0]=='g'

True

In [25]:
s[7]=='g'

IndexError: string index out of range

In [4]:
s='goodbye'
s[0:1]=='g' or'a'

True

In [10]:
len(s)/2
s[3:4] =='d' or 'd'

True

In [11]:
s[0]==s[-1]

False

2.15

In [20]:
x = ['a', 'n', 'a', 'c', 'h', 'r', 'o', 'n', 'i', 's', 't', 'i', 'c', 'a', 'l' ,'l' ,'y']
y = ['c', 'o', 'u', 'n', 't', 'e', 'r', 'i', 'n', 't', 'u', 'i', 't', 'i', 'v', 'e']
c = len(x)
d = len(y)
diff = int(c - d)
print('the difference between the characters of the given words:' )
print(diff)
print(" ")

the difference between the characters of the given words:
1

In [21]:
a = ['misrepresentation','misinterpretation']
print("Before sorting alphabetically: ")
print(a)
print("After sorting alphabetically: ")
a.sort()
print(a)
print("")

Before sorting alphabetically:
['misrepresentation', 'misinterpretation']
After sorting alphabetically:
['misinterpretation', 'misrepresentation']

In [22]:
lst = ['f','l','o','c','c','i','n','a','u','c','i','n','i','h','i','l','i','p','i','l','i','f','i','c','a','t','i','o','n']
'e' in lst

False

In [23]:
a = ['c','o','u','n','t','e','r','r','e','v','o','l','u','t','i','o','n']
b = ['c','o','u','n','t','e','r']
c = ['r','e','s','o','l','u','t','i','o','n']
d = len(a)
e = len(b)
f = len(c)
sum = e + f
Diff = d - sum
print("The character in lst a is equal to the sum of b and c: ")
print(Diff)
d == sum

The character in lst a is equal to the sum of b and c:
0

True

2.16

In [26]:
a=6
b=7
c=(a+b)/2
print(c)

6.5

In [27]:
inventory = ['paper','staples','pencils']
print(inventory)

['paper', 'staples', 'pencils']

In [28]:
first= 'John'
middle= 'Fitzgerald'
last= 'Kennedy'
print("full name is: "+ first + " " + middle + " " + last)

full name is: John Fitzgerald Kennedy

2.17

In [29]:
17+(-9)<10

True

In [33]:
c<=24

True

In [43]:
a<=6.75<=b

True

In [45]:
print(len(first)<len(middle))
print(len(last)>len(middle))

True
False

2.18

In [64]:
flowers=['rose','bougainvillea','yucca','marigold','daylilly','lilly of the valey']
print('potato' in flowers)
print(flowers)

False
['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valey']

In [76]:
thorny=flowers[0:5]
thorny

['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly']

In [70]:
poisonous=flowers[-1]
poisonous

'lilly of the valey'

2.19

In [85]:
answer=5*['x','y']
numYes_Y=answer.count('x')
print(numYes_Y)
numNo_X=answer.count('y')
print(numNo_X)
#c
answer.sort()
print(answer)
answer[0]='f'
print(answer)

5
5
['x', 'x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'y']
['f', 'x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'y']

2.20

In [87]:
s=input("string:")
s.reverse()
print(s)
#string haven't any built-in reverse function

string:cap

AttributeError: 'str' object has no attribute 'reverse'

2.21

2.22

2.23

In [88]:
monthsL = ['jan','feb','mar','may']
monthsT = ('jan', 'feb','mar','may')
monthsL.insert(3, 'apr')
print(monthsL)
monthsT.insert(3, 'apr')

['jan', 'feb', 'mar', 'apr', 'may']

AttributeError: 'tuple' object has no attribute 'insert'

In [93]:
monthsL = ['jan','feb','mar','may']
monthsT = ('jan', 'feb','mar','may')
monthsL.sort()
print(monthsL)
monthsT.sort()
print(monthsT)

['feb', 'jan', 'mar', 'may']

AttributeError: 'tuple' object has no attribute 'sort'

2.24

In [11]:
grades=['B','B','F','C','B','A','A','D','C','D','A','A','B']
print(grades.count('A'),",",grades.count('B'),",",grades.count('C'),",",grades.count('D'),",",grades.count('F'))

4 , 4 , 2 , 2 , 1

2.25

2.26

In [16]:
import math
r=10
X=0
Y=0
a= math.sqrt((0-0)**2 + (0-0)**2)
if a<r:
    print('hit')
else:
    print('miss')

hit

In [13]:
b= math.sqrt((10-0)**2 + (10-0)**2)
if b<r:
    print('hit')
else:
    print('miss')

miss

In [14]:
c= math.sqrt((6-0)**2 + (6-0)**2)
if c<r:
    print('hit')
else:
    print('miss')

hit

In [15]:
d= math.sqrt((8-0)**2 + (7-0)**2)
if d<r:
    print('hit')
else:
    print('miss')

miss

2.27

In [18]:
from math import sin
from math import pi
#a) 16 feet and 75 degree 
height = 16 * sin(pi * (75/180))
print("answer a)" + str(height))
#b) 20 feet and 0 degree
height = 20 * sin(pi * (0/180))
print("answer b)" + str(height))
#c) 24 feet and 45 degree
height = 24 * sin(pi* (45/180))
print("answer c)" + str(height))
#d) 24 feet and 80 degree
height = 24 * sin(pi *(80/180))
print("answer d)" + str(height))

answer a)15.454813220625093
answer b)0.0
answer c)16.97056274847714
answer d)23.63538607229299

2.28

In [19]:
lst = [2, 5, 7, 10, 8, 9, 12]
#a) index of middle element
mid_index = int(len(lst)/2)
print(mid_index)
#b) middle element of list 
print("middle element of the list is:" + str(lst[3]))
#c) sorting list in descending order
lst.sort(reverse= True)
print(lst)
#d) remove and extend
lst.remove(12)
lst.extend([12])
print(lst)

3
middle element of the list is:10
[12, 10, 9, 8, 7, 5, 2]
[10, 9, 8, 7, 5, 2, 12]

2.29

2.30

In [1]:
def convert(string):
    li=list(string.split(" "))
    return li
string = "Muhammad Murtaza"
print(convert(string))

['Muhammad', 'Murtaza']